.app-container img {
    width: 7em;
    height: auto;
   
   
  
}
.app-image{
    width: 7em;
    height: auto;
}

.rise-image {
    width: 6 em;
    height: auto;
   
}
body{
    text-align: center;
}